@{
    ViewBag.Title = "About";
}

<hr />

<div class="container-fluid pt-5">
    <div class="row">
        <div class="col-md-10 col-sm-12 mx-auto ">

            <span style="font-size:xx-large" class="text-uppercase">The Project, Part 2</span>
            <a href="@Url.Action("LogOut", "Oblig2")" class="float-right nav-item nav-link btn btn-outline-info">Go to Homepage</a>

            <hr />

            <span style="font-size:x-large" class="text-uppercase">Objectives</span>
            <ul>
                <li class="list-item">
                    Create management interface for project task 1 implemented in MVC.
                </li>
                <li class="list-item">
                    Lay out the application in MVC, Model, BLL and DAL.
                </li>
                <li class="list-item">
                    Generate automatic Unit Tests.
                </li>
            </ul>
            <hr />

            <span style="font-size:x-large" class="text-uppercase">Functionalities</span><br />
            <span align="justify">
                The solution should include:
            </span>
            <ul>
                <li class="list-item">
                    Managing customers, orders, and movies (ie, the entities you have in their database from Task 1).
                </li>
                <li class="list-item">
                    Login mechanism for admins
                </li>
                <li class="list-item">
                    Logging of changes in database
                </li>
                <li class="list-item">
                    Logging of errors to file including database access
                </li>
            </ul>
            <span align="justify">
                When evaluating the assignment, the following will be emphasized:
            </span>
            <ul>
                <li class="list-item">
                    Design / layout
                </li>
                <li class="list-item">
                    Code structure
                </li>
                <li class="list-item">
                    Completeness of Unit testing excluding the solution from Task 1.
                </li>
            </ul>
            <hr />

            <span style="font-size:x-large" class="text-uppercase">Project submission</span>
            <p align="justify">
                A .zip file containing the entire Visual Studio project in Canvas. The solution should be integrated into the already
                existing solution from task 1. It is not necessary to change the solution from task 1 in any way
                (it is not required that this be also layered). It should also refer to any code that is not self-developed or made by me.
                Login user information must be entered in a file called Readme.txt. This file must be in the top-level solution
                (seen from Solution Explorer).

                If the solution is run on a resolution, the URL must be entered in the Readme.txt file.
            </p>

            <hr />

        </div>
    </div>
</div>

