@{
    ViewBag.Title = "About";
}

<hr />

<div class="container-fluid pt-5">
    <div class="row">
        <div class="col-md-8 col-sm-12 mx-auto ">

            <span style="font-size:x-large" class="text-uppercase">The Project</span>
            <p align="justify">
                An application for buying movies online (for download) must be implemented. See, for example, <a href="https://www.sfanytime.com/no" class="text-info">https://www.sfanytime.com/no</a>.
            </p>
            <hr />

            <span style="font-size:x-large" class="text-uppercase">Groups</span>
            <p align="justify">
                The assignment is to be solved in groups of up to 5 students each. The assignment can also be delivered alone. It does not take into account the number of people in the group when evaluating. Click the "People" tab on Canvas and sign in to the predefined groups under the Group Delivery 1 tab (the first one will be the group leader and will control who's joining the group).
            </p>
            <hr />

            <span style="font-size:x-large" class="text-uppercase">Objectives</span>
            <ul>
                <li class="list-item">
                    Creating a complete solution with the ability to make purchases of movies online.
                </li>
                <li class="list-item">
                    The solution must be made in .NET MVC / Page
                </li>
                <li class="list-item">
                    Show understanding of .NET architecture and Entity Framework.
                </li>
            </ul>
            <hr />

            <span style="font-size:x-large" class="text-uppercase">Functionalities</span><br />
            <span align="justify">
                The solution should include:
            </span>
            <ul>
                <li class="list-item">
                    The application should have a cover page where you can choose the movies you want to buy.
                </li>
                <li class="list-item">
                    It should only be possible to buy movies after registering as a customer. If you are already registered you should be able to log in with username and password.
                </li>
                <li class="list-item">
                    A backend functionality that allows you to maintain movies, prices and customers shouldn't be made. This will be part of task 2 and will be expected implemented in a special way.
                </li>
            </ul>
            <span align="justify">
                When evaluating the assignment, the following will be emphasized:
            </span>
            <ul>
                <li class="list-item">
                    Design / layout
                </li>
                <li class="list-item">
                    Functionality
                </li>
                <li class="list-item">
                    Code structure
                </li>
                <li class="list-item">
                    Database structure using Entity Framework code first
                </li>
                <li class="list-item">
                    Validation
                </li>
                <li class="list-item">
                    Neat and understandable code (CSHTML and c #)
                </li>
                <li class="list-item">
                    Dynamic retrieval / update of data via AJAX and Javascript (JQuery)
                </li>
                <li class="list-item">
                    The solution must be implemented in ASP.NET. This means that no advanced single page application functionality is required (will be displayed in task 3).
                </li>
            </ul>
            <hr />

            <span style="font-size:x-large" class="text-uppercase">Project submission</span>
            <p align="justify">
                A .zip file containing the entire Visual Studio project in Canvas. If there is something special about the solution that you will emphasize, this can be done via a short textual description in the solution called Readme.txt. It may also refer to any code that is not self-developed or created by a teacher.

                A complete management solution for movies, prices, and customer information will not be provided. This is part of the next task.

                URL for executable solution must be entered. This can be inserted into the Readme.txt file.

                The solution should be able to run in Azure or another service (eg Amazon). However, this is not a requirement as it has been found that there are some issues with student accounts for these services. Feel free to comment on Readme.txt regarding possible solutions to these platforms.
            </p>

        </div>
    </div>
</div>

