<div id="Delete" class="modal fade">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header text-uppercase font-weight-light">
                <span class="text-danger" style="font-size:x-large">Are you sure?</span>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body font-weight-light">
                <p>
                    You are about to permanently delete the selected element :
                    <span class="text-info" id="title"></span>
                </p>
                <p class="text-danger">
                    You wont be able to revert this!
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal" id="deleteBTN">Delete</button>
            </div>
        </div>
    </div>
</div>