<div id="Details" class="modal fade">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <span class="font-weight-light text-uppercase text-light" style="font-size:larger">Movie details</span>
                <button type="button" class="close text-light" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <img id="poster" class="m-2 float-left" />
                <p class="pt-5">
                    <span class="text-info" id="title"></span><br />
                    Released: <span class="text-info" id="year"></span><br />
                    Directed by: <span class="text-info" id="dir"></span>
                </p>
                <p class="text-justify my-2 d-inline-block">
                    <span class="text-dark" id="plot"></span> <br />
                </p>
            </div>
        </div>
    </div>
</div>